<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DriveTag</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon-16x16.png">
    <link rel="manifest" href="../../assets/site.webmanifest">

    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
<form id="dataForm" class="zoom-in">
    <div class="resource-section">
        <img alt="Headline" src="../../src/assets/headline-icon.png" title="Headline">
        <input aria-label="Headline" maxlength="100" name="headline" placeholder="Headline" type="text">
    </div>

    <div class="resource-section">
        <img alt="Additional Info" src="../../src/assets/paragraph-icon.png" title="Additional Info">
        <textarea aria-label="Additional Info" maxlength="500" name="additionalInfo" placeholder="Additional Info"
                  rows="1"></textarea>
    </div>

    <div class="inputs-grid">
        <div id="phone" class="resource-section">
            <img alt="Phone" src="../../src/assets/phone-icon.png" title="Phone">
            <input aria-label="Phone" maxlength="20" name="phone" placeholder="Phone" type="tel">
        </div>

        <div id="apple-messages" class="resource-section">
            <img alt="Apple Messages" src="../../src/assets/apple-messages-icon.png" title="Apple Messages">
            <input aria-label="Apple Messages" maxlength="100" name="appleMessages" placeholder="Apple Messages"
                   type="text">
        </div>

        <div id="facebook-messenger" class="resource-section">
            <img alt="Facebook Messenger" src="../assets/facebook-messenger-icon.svg" title="Facebook Messenger">
            <input aria-label="Facebook Messenger" maxlength="100" name="facebookMessenger"
                   placeholder="Facebook Messenger" type="text">
        </div>

        <div id="instagram" class="resource-section">
            <img alt="Instagram" src="../../src/assets/instagram-icon.png" title="Instagram">
            <input aria-label="Instagram" maxlength="100" name="instagram" placeholder="Instagram" type="text">
        </div>

        <div id="signal" class="resource-section">
            <img alt="Signal" src="../../src/assets/signal-icon.png" title="Signal">
            <input aria-label="Signal" maxlength="500" name="signal" placeholder="Signal" type="text">
        </div>

        <div id="skype" class="resource-section">
            <img alt="Skype" src="../../src/assets/skype-icon.svg" title="Skype">
            <input aria-label="Skype" maxlength="100" name="skype" placeholder="Skype" type="text">
        </div>

        <div id="telegram" class="resource-section">
            <img alt="Telegram" src="../../src/assets/telegram-icon.png" title="Telegram">
            <input aria-label="Telegram" maxlength="100" name="telegram" placeholder="Telegram" type="text">
        </div>

        <div id="viber" class="resource-section">
            <img alt="Viber" src="../../src/assets/viber-purple-icon.png" title="Viber">
            <input aria-label="Viber" maxlength="100" name="viber" placeholder="Viber" type="text">
        </div>

        <div id="whatsapp" class="resource-section">
            <img alt="WhatsApp" src="../../src/assets/whatsapp-icon.png" title="WhatsApp">
            <input aria-label="WhatsApp" maxlength="100" name="whatsApp" placeholder="WhatsApp" type="text">
        </div>

        <div id="email" class="resource-section">
            <img alt="Email" src="../../src/assets/email-icon.png" title="Email">
            <input aria-label="Email" maxlength="100" name="email" placeholder="Email" type="email">
        </div>
    </div>

    <button type="submit">Generate QR</button>
</form>

<script src="../../dist/form.js" type="application/javascript"></script>
</body>
</html>
