<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DriveTag</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon-16x16.png">
    <link rel="manifest" href="../../assets/site.webmanifest">

    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
<form action="/submit" class="zoom-in">
    <div class="inputs-grid">
        <div id="phone" class="resource-section">
            <img src="../../src/assets/phone-icon.png" alt="iMessage" title="Phone">
            <input aria-label="Phone" maxlength="20" placeholder="Phone" type="tel">
        </div>

        <div id="apple-messages" class="resource-section">
            <img src="../../src/assets/apple-messages-icon.png" alt="Apple Messages" title="Apple Messages">
            <input aria-label="Apple Messages" maxlength="100" placeholder="Apple Messages" type="text">
        </div>

        <div id="facebook-messenger" class="resource-section">
            <img src="../assets/facebook-messenger-icon.svg" alt="Facebook Messenger" title="Facebook Messenger">
            <input aria-label="Facebook Messenger" maxlength="100" placeholder="Facebook Messenger" type="text">
        </div>

        <div id="instagram" class="resource-section">
            <img src="../../src/assets/instagram-icon.png" alt="Instagram" title="Instagram">
            <input aria-label="Instagram" maxlength="100" placeholder="Instagram" type="text">
        </div>

        <div id="signal" class="resource-section">
            <img src="../../src/assets/signal-icon.png" alt="Signal" title="Signal">
            <input aria-label="Signal" maxlength="500" placeholder="Signal" type="text">
        </div>

        <div id="skype" class="resource-section">
            <img src="../../src/assets/skype-icon.svg" alt="Skype" title="Skype">
            <input aria-label="Skype" maxlength="100" placeholder="Skype" type="text">
        </div>

        <div id="telegram" class="resource-section">
            <img src="../../src/assets/telegram-icon.png" alt="Telegram" title="Telegram">
            <input aria-label="Telegram" maxlength="100" placeholder="Telegram" type="text">
        </div>

        <div id="viber" class="resource-section">
            <img src="../../src/assets/viber-purple-icon.png" alt="Viber" title="Viber">
            <input aria-label="Viber" maxlength="100" placeholder="Viber" type="text">
        </div>

        <div id="whatsapp" class="resource-section">
            <img src="../../src/assets/whatsapp-icon.png" alt="WhatsApp" title="WhatsApp">
            <input aria-label="WhatsApp" maxlength="100" placeholder="WhatsApp" type="text">
        </div>

        <div id="email" class="resource-section">
            <img src="../../src/assets/email-icon.png" alt="Email" title="Email">
            <input aria-label="Email" maxlength="100" placeholder="Email" type="email">
        </div>
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>
